.container {
  width: 4rem;
  height: inherit;
  background-color: #000;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  width: 3rem;
  height: 3rem;
  transition: 0.2s ease-in-out;
  margin-bottom: 40px;
  margin-left: 10px;
}

.image:hover {
  scale: 1.2;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 105vw;

    margin: -10px;
    margin-bottom: -10px;
    overflow: hidden;
    background-color: black;
  }
}
