.container {
  position: absolute;
  z-index: 1;
  margin-left: 25px;
  margin-top: 3px;
}
.toggle_switch {
  position: relative;
  width: 80px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid;
  border-radius: 20px;
  border: 2px solid rgb(216, 209, 209);
}

.label:hover {
  border: 2px solid #c90f0f;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.05s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #c90f0f;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "🇷🇴";
  padding-left: 10px;
  background-color: rgb(87, 81, 81);
  color: #413e3e;
}
.inner:after {
  content: "🇬🇧";

  padding-right: 10px;
  background-color: rgb(87, 81, 81);
  color: #413e3e;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 2px solid rgb(216, 209, 209);
  border-radius: 20px;
  transition: all 0.05s ease-in 0s;
}

.switch:hover {
  border: 2px solid #c90f0f;
  border-radius: 20px;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

@media screen and (max-width: 600px) {
  .container {
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    margin-top: 3px;
  }

  .switch {
    display: block;
    width: 27px;
    margin: 5px;
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 2px solid rgb(216, 209, 209);
    border-radius: 20px;
    transition: all 0.05s ease-in 0s;
  }

  .toggle_switch {
    position: relative;
    width: 80px;
    display: inline-block;
    text-align: left;
    top: 3px;
  }
}
