.container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .container {
    height: 110vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
  }
  .mobile {
    background-color: black;
    height: 50vh;
    width: 50vh;
  }
}
